.kuvasz-menuitem-highlight-1 {
    background-color: #4d90fe !important;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed) !important;
    color: #fff !important;
}

/* Add these colors as default once the GUI is added:
 RED EA4335
 GREEN 34A853
 YELLOW FBBC05
 */
